# Create a `Database` object

In [1]:
from pg_data_etl import Database


uri = 'postgresql://postgres:your-password-here@localhost:5432/example_db'
db = Database.from_uri(uri)

## Create the database

In [2]:
db.admin("CREATE")

##Â Import GIS data

In [3]:
data_url = "https://phl.carto.com/api/v2/sql?filename=high_injury_network_2020&format=geojson&skipfields=cartodb_id&q=SELECT+*+FROM+high_injury_network_2020"

kwargs = {
    "filepath": data_url,
    "sql_tablename": "philly.high_injury_network",
    "gpd_kwargs": {"if_exists":"replace"}
}

db.import_gis(**kwargs)

Print a list of tables in the `philly` database schema

In [4]:
db.tables(schema="philly")

['philly.high_injury_network']

## Get a `geopandas.GeoDataFrame` from a SQL query

In [5]:
gdf = db.gdf("SELECT * FROM philly.high_injury_network")

Now you can do anything that a geodataframe can do

Like `.head()` or `.tail()`

In [6]:
gdf.tail()

,index,objectid,street_name,buffer,geom,uid
236,235,191,CASTOR AVE,75 feet,"LINESTRING (-75.09776 40.01183, -75.09743 40.0...",237
237,236,192,CASTOR AVE,75 feet,"LINESTRING (-75.08413 40.03197, -75.08427 40.0...",238
238,237,193,CHELTENHAM AVE,75 feet,"LINESTRING (-75.11236 40.04756, -75.11293 40.0...",239
239,238,194,CHESTNUT ST,75 feet,"LINESTRING (-75.15863 39.95020, -75.16021 39.9...",240
240,239,195,CHESTNUT ST,75 feet,"LINESTRING (-75.23645 39.95987, -75.23713 39.9...",241

## Get a `pandas.DataFrame` from a SQL query

In [6]:
query = """
    SELECT
        street_name,
        sum(st_length(st_transform(geom, 26918))) as meters
    FROM
        philly.high_injury_network
    GROUP BY
        street_name
    ORDER BY
        meters DESC
"""

df = db.df(query)

df["miles"] = df["meters"] * 0.000621371

In [7]:
df

           street_name        meters      miles
0       ROOSEVELT BLVD  19303.734085  11.994781
1             BROAD ST  16816.462038  10.449262
2        BUSTLETON AVE  13892.175303   8.632195
3               5TH ST   9713.266180   6.035542
4            MARKET ST   8827.680210   5.485264
..                 ...           ...        ...
174            49TH ST    329.147073   0.204522
175           TABOR RD    246.732305   0.153312
176  OLD BUSTLETON AVE    224.826029   0.139700
177        HOFFMAN AVE    161.237247   0.100188
178         BERKLEY ST     52.624696   0.032699

[179 rows x 3 columns]