# Create a `Database` object

In [1]:
from pg_data_etl import Database


uri = 'postgresql://postgres:your-password-here@localhost:5432/example_db'
db = Database.from_uri(uri)

## Create the database

In [2]:
db.admin("CREATE")

##Â Import GIS data

In [3]:
data_url = "https://phl.carto.com/api/v2/sql?filename=high_injury_network_2020&format=geojson&skipfields=cartodb_id&q=SELECT+*+FROM+high_injury_network_2020"

kwargs = {
    "filepath": data_url,
    "sql_tablename": "philly.high_injury_network",
    "gpd_kwargs": {"if_exists":"replace"}
}

db.import_gis(**kwargs)

Print a list of tables in the `philly` database schema

In [4]:
db.tables(schema="philly")

['philly.high_injury_network']

## Get a `geopandas.GeoDataFrame` from a SQL query

In [5]:
gdf = db.gdf("SELECT * FROM philly.high_injury_network")

Now you can do anything that a geodataframe can do

Like `.head()` or `.tail()`

In [6]:
gdf.tail()

,index,objectid,street_name,buffer,geom,uid
236,235,191,CASTOR AVE,75 feet,"LINESTRING (-75.09776 40.01183, -75.09743 40.0...",237
237,236,192,CASTOR AVE,75 feet,"LINESTRING (-75.08413 40.03197, -75.08427 40.0...",238
238,237,193,CHELTENHAM AVE,75 feet,"LINESTRING (-75.11236 40.04756, -75.11293 40.0...",239
239,238,194,CHESTNUT ST,75 feet,"LINESTRING (-75.15863 39.95020, -75.16021 39.9...",240
240,239,195,CHESTNUT ST,75 feet,"LINESTRING (-75.23645 39.95987, -75.23713 39.9...",241

## Get a `pandas.DataFrame` from a SQL query

In [6]:
query = """
    SELECT
        street_name,
        sum(st_length(st_transform(geom, 26918))) as meters
    FROM
        philly.high_injury_network
    GROUP BY
        street_name
    ORDER BY
        meters DESC
"""

df = db.df(query)

df["miles"] = df["meters"] * 0.000621371

In [7]:
df

           street_name        meters      miles
0       ROOSEVELT BLVD  19303.734085  11.994781
1             BROAD ST  16816.462038  10.449262
2        BUSTLETON AVE  13892.175303   8.632195
3               5TH ST   9713.266180   6.035542
4            MARKET ST   8827.680210   5.485264
..                 ...           ...        ...
174            49TH ST    329.147073   0.204522
175           TABOR RD    246.732305   0.153312
176  OLD BUSTLETON AVE    224.826029   0.139700
177        HOFFMAN AVE    161.237247   0.100188
178         BERKLEY ST     52.624696   0.032699

[179 rows x 3 columns]

In [10]:
set(df["street_name"])

{' ',
 '10TH ST',
 '11TH ST',
 '12TH ST',
 '13TH ST',
 '15TH ST',
 '16TH ST',
 '17TH ST',
 '18TH ST',
 '21ST ST',
 '22ND ST',
 '25TH ST',
 '26TH ST',
 '29TH ST',
 '2ND ST',
 '38TH ST',
 '39TH ST',
 '3RD ST',
 '40TH ST',
 '42ND ST',
 '47TH ST',
 '49TH ST',
 '52ND ST',
 '54TH ST',
 '56TH ST',
 '57TH ST',
 '58TH ST',
 '59TH ST',
 '5TH ST',
 '61ST ST',
 '63RD ST',
 '65TH ST',
 '66TH AVE',
 '70TH ST',
 '7TH ST',
 '8TH ST',
 '9TH ST',
 'ACADEMY RD',
 'ALLEGHENY AVE',
 'AMERICAN ST',
 'ARAMINGO AVE',
 'ARCH ST',
 'ARDLEIGH ST',
 'B ST',
 'BALTIMORE AVE',
 'BARTRAM AVE',
 'BELFIELD AVE',
 'BELMONT AVE',
 'BELMONT MANSION DR',
 'BENJAMIN FRANKLIN PKWY',
 'BERKLEY ST',
 'BERKS ST',
 'BRIDGE ST',
 'BROAD ST',
 'BUSTLETON AVE',
 'BUTLER ST',
 'BYBERRY RD',
 'C ST',
 'CASTOR AVE',
 'CATHARINE ST',
 'CAYUGA ST',
 'CECIL B MOORE AVE',
 'CEDAR AVE',
 'CHELTENHAM AVE',
 'CHESTNUT ST',
 'CHEW AVE',
 'CHRISTOPHER COLUMBUS BLVD',
 'CHURCH ST',
 'CITY AVE',
 'COBBS CREEK PKWY',
 'COMLY RD',
 'CONCOURSE DR',
 'COTTMAN AVE',
 'CUMBERLAND ST',
 'DARIEN ST',
 'DAUPHIN ST',
 'DELAWARE AVE',
 'DIAMOND ST',
 'DUNCANNON AVE',
 'EMERALD ST',
 'ERIE AVE',
 'ESSINGTON AVE',
 'F ST',
 'FORD RD',
 'FOX ST',
 'FRANKFORD AVE',
 'FRONT ST',
 'GERMANTOWN AVE',
 'GIRARD AVE',
 'GLENWOOD AVE',
 'GODFREY AVE',
 'GRANT AVE',
 'GRAYS AVE',
 'HARBISON AVE',
 'HAVERFORD AVE',
 'HENRY AVE',
 'HOFFMAN AVE',
 'HUNTING PARK AVE',
 'I ST',
 'INDEPENDENCE MALL',
 'IRVING ST',
 'ISLAND AVE',
 'K ST',
 'KELLY DR',
 'KENSINGTON AVE',
 'KINGSESSING AVE',
 'KNIGHTS RD',
 'L ST',
 'LANCASTER AVE',
 'LANSDOWNE AVE',
 'LEHIGH AVE',
 'LEVICK ST',
 'LIMEKILN PIKE',
 'LINCOLN DR',
 'LINDBERGH BLVD',
 'LONGSHORE AVE',
 'LUZERNE ST',
 'LYCOMING ST',
 'M ST',
 'MAIN ST',
 'MARKET ST',
 'MARTIN LUTHER KING DR',
 'MASCHER ST',
 'NORRIS ST',
 'NORWITCH DR',
 'OGDEN ST',
 'OGONTZ AVE',
 'OLD BUSTLETON AVE',
 'OLD YORK RD',
 'OLNEY AVE',
 'OREGON AVE',
 'OXFORD ST',
 'PACKER AVE',
 'PARKSIDE AVE',
 'PARRISH ST',
 'PASCHALL AVE',
 'PASSYUNK AVE',
 'PENN ST',
 'PENROSE AVE',
 'POINT BREEZE AVE',
 'RACE ST',
 'RICHMOND ST',
 'RIDGE AVE',
 'RISING SUN AVE',
 'ROBBINS ST',
 'ROBERTS AVE',
 'ROOSEVELT BLVD',
 'SAINT VINCENT ST',
 'SANSOM ST',
 'SEDGLEY AVE',
 'SOUTH ST',
 'SPRINGFIELD AVE',
 'SPRUCE ST',
 'STATE RD',
 'STENTON AVE',
 'TABOR AVE',
 'TABOR RD',
 'TACONY ST',
 'TIOGA ST',
 'TORRESDALE AVE',
 'TYSON AVE',
 'UNIVERSITY AVE',
 'UPSAL ST',
 'VARE AVE',
 'VINE ST',
 'WAGNER AVE',
 'WALNUT ST',
 'WASHINGTON AVE',
 'WASHINGTON LN',
 'WELSH RD',
 'WESTMINSTER AVE',
 'WHITAKER AVE',
 'WISSAHICKON AVE',
 'WOLF ST',
 'WOODHAVEN RD',
 'WOODLAND AVE',
 'WYNCOTE AVE',
 'WYNNEFIELD AVE',
 'WYOMING AVE'}